<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset = "UTF-8">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="./dist/react-bootstrap-table.min.css"/>
    <link rel="stylesheet" href="component.css" /></link>
    <title>React App</title>
</head>
<body>
    <div id="root">
        <%- content -%>
    </div>
</body>
</html>