/* * {
    box-sizing: border-box;
} */
body {
    font-family: Arial;
    margin:0;
    background: #d9d9d9;
}
.header2 {
    padding:2px;
    height:8%;
    background: white;
    margin:2px;
    font-size:30px;
}
.header2 .logowrap{
    width:15%;
}
.header2 .modulename{
    float:left;
}
.logowrap .logo {
    /* display: block; */
    height: 50px;  
    width: 150px;
    float:left;
}

.userwrap{
    float:right;
    overflow: hidden;
}
.userwrap .userbutton{
    border: none;
    outline: none;
    /* color: white; */
    padding: 14px 16px;
    height: 45px;  
    width: 200px;
    font-size: 16px; 
    text-align: right;
}
.userwrap:hover .userbutton {
    background-color: #0acfd6;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px; 
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.userwrap:hover .dropdown-content {
    display: block;
}



.rightcolumn2 {   
    margin-left:15%;
    align-content: center;
    float: left;
    width: 85%;
    
}
.logo{
    height:50px;
    float:left;
    width:15%;
    padding:10px;
    border-right: 5px;
    border-color: blue;
}
.moduleName {
    float:left;
    width:85%;
    padding:10px;
}
.leftcolumn2 {
    float: left;
    width: 15%;
    position: absolute;
    background-color:#336699;
    border-right: 10px;
     height:100%; 
}
.leftcolumn2 .nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color:#336699;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.leftcolumn2 .nav2 .navitem2 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    padding-top:20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.navitem2 a.active {
    background-color:#0acfd6;
    color: white;
}

.navitem2 a:hover:not(.active) {
    background-color: #0acfd6;
    color: white;
}
.comp2{
    background-color: white;
    padding-top:0.1px;
    padding-bottom:0.1px;
    padding-left: 20px;
}
.comp2 .link .backto{
    color: black;
    text-decoration-color: black;
}
.comp2 .allrefunds .addnew{
    background-color: #0acfd6;
    float:right;
    margin-right: 3%;
    width:80px;
    height:30px;
    font-size-adjust: 0.1px;
    font-size: 10px;
}
/* .card .choosefile{
    background-color: #0acfd6;
} */
.card .success{
    background-color:lightgreen;
    float:right;
    margin-right: 3%;
    width:auto;
    height:25px;
    font-size: 10px;
    font-size-adjust: 0.1px;
}
.card .error{
    background-color: red;
    float:right;
    margin-right: 3%;
    width:auto;
    height:25px;
    font-size: 10px;
    font-size-adjust: 0.1px;  
}
.comp2 .allrefunds .addnew:active{
    background-color: #0acfd6;
}
.comp2 .allrefunds .addnew:hover{
    background-color:#336699;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.card {
    background-color: white;
    padding: 20px;
    margin: 15px;
}
.bcard {
    background-color: white;
    padding: 20px;
    margin: 15px;
    height: 70%;
}
.bcard .btable{
    height:70%;
}
.uploadcsv{
    background-color: white;
    height:120px;
    padding:10px;
    text-align: center;
    margin:auto;
    display:block;
}
.uploadcsv .publish{
    background-color: #0acfd6;
    width:160px;
    height:50px;
    font-size-adjust: 0.1px;
    font-size: 20px;
}
/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table; 
    clear: both;
}
@media screen and (max-width: 800px) {
    .leftcolumn2, .rightcolumn2,.comp2,.logo {   
        width: 100%;
        padding: 0;
    }
}